.sidebar{
    background: #8fb192;
    width: 25%;
    height: 100vh;
    position: fixed;
    
    padding-left: 2%;
    padding-top: 10px;
}

.json-report{
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: auto;

}
.tags-list{
   

}
.hashtags p{
    margin: 0;
    padding: 0;

}


.tag-div{
    display: flex;
    padding: 0;
}

.hover-sidebar{
    width: 5%;
}
.hover-sidebar .json-report,
.hover-sidebar .hashtags {
    display: none;
}
.hover-sidebar hr{
    width: 5%;
}



.json-report img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.

/*
.small-sidebar{
    width: 5%;
}

.shortcut-links img{
    width: 20px;
    margin-right: 20px;
}
.side-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}
.side-link.active img{
    padding-bottom: 2px;
    border-bottom: 3px solid red;
}
.shortcut-links .active{
    color: #ed3833;
    font-weight: 600;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}
.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}

.subscribed-list img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.small-sidebar p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}

@media (max-width: 900px){
    .sidebar{
        display: none;
    }
} */